.main-background {
    background-image: url("/assets/images/pexels-lucie2.jpg");
    position: fixed;
}

a {
    margin-bottom: inherit;
    text-decoration: none;
}

h3 {
    text-align: center;
    font-weight: 900;
    font-size: 18px;
}

.titre {
    text-align: center;
    background-color: transparent;
    color: var(--primary-color);
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

.paragraphe {
    margin: 0;
    font-size: 14px;
    padding: 0 1rem 1rem 1rem;
}

.image-card {
    height: 15rem;
    width: 100%;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.container-card {
    display: flex;
    flex-direction: column;
    margin: 2px;
    gap: 2rem;
    height: 170rem;
}

.card {
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--background-color);
    border-radius: 11px;
    text-align: center;
    text-decoration: none;
}

.button {
    width: 10rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--btn-color);
    border-radius: 11px;
    color: var(--primary-color);
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
}

@media screen and (min-width: 700px) {
    .container-card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .main-background {
        background-image: url("/assets/images/pexels-lucie.jpg");
        position: absolute;
        z-index: -1;
    }
    .card {
        width: 20rem;
        height: 25rem;
    }

    *{
        overflow-y: hidden;
        overflow-x: hidden;
    }
}