.container-card {
    display: flex;
    flex-direction: column;
    margin: 2px;
    gap: 20px;
    background-color: white;
    border-radius: 11px;
}

body {
    background-color:cadetblue;
}

h3 {
    text-align: center;  
}

.container-list {
   box-shadow: 0 2px 5px;
   margin: 2px;
   border-radius: 11px; 
   width: 33%;
}

h1 {
    text-align: center;
}

.container-sign_up {
    box-shadow: 0 2px 5px;
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    width: 33%;
}

.container-youtube {
    box-shadow: 0 2px 5px;
    background-color: white;
    border-radius: 11px;
    width: 33%;
}

.image-card {
    height: 45%;
    width: 100%;
    border-radius: 11px;
}

@media screen and (min-width: 600px){
    .container-card{
        display: flex;
        flex-direction: row;
    }
}