.main-background {
    background-image: url("/assets/images/add_list.jpg");
    background-size: cover;
    position: fixed;
}

/*MOBILE FIRST*/
.list-container {
    background-color: var(--background-color);
    border-radius: 15px;
    width: 50rem;
    margin: auto;
    text-align: center;
    padding: 0 1rem 0 1rem;
    opacity: 80%;
}
.list-title {
    color: var(--font-color);
}

.list-description {
    color: var(--font-color);
}

.add-form>h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

#submit {
    background-color: var(--btn-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    margin: 1rem 5rem 1rem 5rem;
    width: 13rem;
    border-radius: 11px;
    border: solid black 0.5px;
    box-shadow: 2px 2px 4px black;
}

#submit:hover {
    background-color: var(--background-color);
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

.add-form {
    margin: auto;
    color: var(--primary-color);
    font-weight: 400;
}


.list-sort {
    grid-area: sortArticle;
}

.article-container {
    grid-area: articleContainer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    min-width: 100%;
}

.article {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 0.5fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "articlePicture articleTitle articlePrice" "articlePicture articleDescription articleDescription" "articlePicture seeMore seeMore" "giftButton giftButton giftButton";
    width: 100%;
    height: 14rem;
    border-radius: 10px;
    margin: 0 1rem 2rem 1rem;
    background-color: var(--background-color);
}

div.article {
    background: var(--primary-color);
    opacity: 0.8;
}

.article-img {
    grid-area: articlePicture;
    max-height: calc(100% - 0.4rem);
    max-width: calc(100% - 0.4rem);
    align-self: center;
    margin: 0.2rem;
}

.article-title {
    grid-area: articleTitle;
    font-size: 1rem;
    margin: 0;
    padding: 0.2rem 0 0 0.2rem;
    color: var(--font-color);
}

.article-price {
    grid-area: articlePrice;
    font-size: 1rem;
    margin: 0;
    justify-self: end;
    padding: 0.2rem 0.2rem 0 0;
    color: var(--font-color);
}

.article-description {
    grid-area: articleDescription;
    font-size: 1.3rem;
    margin: 0;
    padding: 0.2rem 0.5rem 0 0.5rem;
    height: 100%;
    color: var(--font-color);
}

.seeMore-button {
    grid-area: seeMore;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 0.2rem 0;
}

div.article div a {
    background: #007EA7;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: 4rem;
    text-align: center;
}

.seeMore-button>p {
    font-size: 1rem;
    text-align: center;
    background-color: var(--btn-color);
    border-radius: 10px;
    width: 50%;
    margin: 0;
    padding: 0.5rem;
    align-self: center;
    color: var(--primary-color);
    text-decoration: none;
}
.seeMore-button {
    text-decoration: none;
}

.delete-button {
    grid-area: giftButton;
    margin: 0;
    background-color: var(--event-color-1);
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.gift-button>p {
    margin: 0;
    font-size: 1.7rem;
    font-weight: bold;
}

.add-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
}

#list_id{
    width: 10rem;
    height: 1.5rem;
    border-radius: 11px;
    text-align: center;
    background-color: var(--background-color);
}

.list_id {
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

#giftName {
    width: 20rem;
    height: 1.5rem;
    border-radius: 11px;
    text-align: center;
    background-color: var(--background-color);
}

.giftName{
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

#price {
    width: 20rem;
    height: 1.5rem;
    border-radius: 11px;
    text-align: center;
    background-color: var(--background-color);
}

.price {
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

#imgLink {
    width: 20rem;
    height: 1.5rem;
    border-radius: 11px;
    background-color: var(--background-color);
    text-align: center;
}

.imgLink {
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

#giftLink {
    width: 20rem;
    height: 1.5rem;
    border-radius: 11px;
    background-color: var(--background-color);
    text-align: center;

}

.giftLink {
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

#description {
    width: 25rem;
    height: 5rem;
    border-radius: 11px;
    background-color: var(--background-color);
    text-align: center;
}

.description {
    color: var(--primary-color);
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

/*END OF MOBILE FIRST*/


/*DESKTOP FIRST*/

@media only screen and (min-width: 900px) {
    .page {
        display: flex;
        flex-direction: row;
    }
    .main-background {
        background-image: url("/assets/images/add_list.jpg");
        background-size: cover;
        position: fixed
    }
    .list-sort {
        grid-area: sortArticle;
    }
    .article-container {
        grid-area: articleContainer;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        min-width: 100%;
    }
    .article {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 0.5fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas: "articlePicture articleTitle articlePrice" "articlePicture articleDescription articleDescription" "articlePicture seeMore seeMore" "giftButton giftButton giftButton";
        width: 22rem;
        height: 10rem;
        padding: 1rem;
        border-radius: 10px;
        margin-bottom: 2rem;
        background-color: var(--background-color);
    }
    .article-img {
        grid-area: articlePicture;
        max-height: calc(100% - 0.4rem);
        max-width: calc(100% - 0.4rem);
        align-self: center;
        margin: 0.3rem;
    }
    .article-title {
        grid-area: articleTitle;
        font-size: 1rem;
        margin: 0;
        padding: 0.2rem 0 0 0.2rem;
    }
    .article-price {
        grid-area: articlePrice;
        font-size: 1rem;
        margin: 0;
        justify-self: end;
        padding: 0.2rem 0.2rem 0 0;
    }
    .article-description {
        grid-area: articleDescription;
        font-size: 15px;
        margin: 0.3rem;
        padding: 0.2rem 0.5rem 0 0.5rem;
        height: 100%;
    }
    .seeMore-button {
        grid-area: seeMore;
        margin-top: 1rem 0.5rem 0 0.5rem;
        background-color: var(--btn-color);
        border-radius: 10px;
        text-decoration: none;
        box-shadow: 2px 2px 4px black;
    }
    .seeMore-button>p {
        font-size: 15px;
        text-align: center;
        width: 100%;
        margin: 0;
        color: var(--primary-color);
    }
    .list-share-container {
        grid-template-rows: 2rem 3rem repeat(9, auto) 2rem;
    }
    .add-form {
        margin-top: 2rem;
    }
    /*END OF DESKTOP FIRST*/
}