.main-background {
    background-image: url("/assets/images/login_bg.jpg");
    position: absolute;
    z-index: -1;
}

/*MOBILE FIRST*/

.login-title {
    margin: 1rem;
    background-color: transparent;
    color: var(--primary-color);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

.form-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 5vh;
    margin-right: 5vh;
}

.login-container {
    text-align: center;
}

.email {
    text-align: center;
    color: var(--primary-color);
}

.password {
    text-align: center;
    color: var(--primary-color);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 11px;
    background-color: var(--background-color);
    text-align: center;
}

input[type=submit] {
    background-color: var(--btn-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    margin: 1rem 5rem 1rem 5rem;
    width: 13rem;
    border-radius: 11px;
    border: solid black 0.5px;
    box-shadow: 2px 2px 4px black;
}

input[type=submit]:hover {
    background-color: var(--background-color);
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

.noaccount {
    background-color: var(--btn-color);
    width: 13rem;
    margin: auto;
    border-radius: 11px;
    border: solid black 0.5px;
    box-shadow: 2px 2px 4px black;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.noaccount:hover {
    background-color: var(--background-color);
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

.noaccount-href {
    color: var(--primary-color);
    text-decoration: none;
    padding: 1rem;
}

.noaccount-href:hover {
    color: var(--btn-color);
    text-decoration: none;
}

.show-password {
    color: var(--background-color);
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}


/*END OF MOBILE FIRST*/


/*DESKTOP FIRST*/

@media only screen and (min-width: 920px) {
    .login-title {
        text-align: center;
        background-color: transparent;
        color: var(--primary-color);
        font-size: 40px;
        text-shadow: 5px 5px 8px rgb(0, 0, 0);
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20rem;
    }

    .email {
        text-align: center;
        color: var(--primary-color);
    }

    .password {
        text-align: center;
        color: var(--primary-color);
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 11px;
        text-align: center;
    }

    input[type=submit] {
        background-color: var(--btn-color);
        color: var(--primary-color);
        font-size: 20px;
        padding: 14px 20px;
        margin: 1rem 0;
        border: none;
        cursor: pointer;
        width: 10rem;
        border-radius: 11px;
        box-shadow: 2px 2px 4px black;
        border: solid black 0.5px;
    }

    input[type=submit]:hover {
        background-color: var(--background-color);
        color: var(--btn-color);
        border: 1px solid var(--btn-color);
    }

    .noaccount {
        background-color: var(--btn-color);
        width: 10rem;
        margin: auto;
        border-radius: 11px;
        border: solid black 0.5px;
        box-shadow: 2px 2px 4px black;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .noaccount:hover {
        background-color: var(--background-color);
        color: var(--btn-color);
        border: 1px solid var(--btn-color);
    }
    
    .noaccount-href {
        color: var(--primary-color);
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }
    
    .noaccount-href:hover {
        color: var(--btn-color);
        text-decoration: none;
    }

    .show-password {
        color: var(--background-color);
        font-size: 15px;
        margin-top: 1rem;
        text-shadow: black 2px 2px;
    }
}