.login-background {

    background-image: url("/assets/images/login_bg.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}


/*MOBILE FIRST*/

.login-title {
    margin: 1rem;
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.form-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 5vh;
    margin-right: 5vh;
}

.user {
    text-align: center;
    color: var(--primary-color);
}

.password {
    text-align: center;
    color: var(--primary-color);
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 11px;
    background-color: var(--background-color);
    text-align: center;
}

input[type=submit] {
    background-color: var(--btn-color);
    color: white;
    font-size: 15px;
    padding: 14px 20px;
    margin: 15px 0;
    margin-left: 25%;
    border: none;
    cursor: pointer;
    width: 20vh;
    border-radius: 11px;
}
input[type=submit]:hover {
    background-color: var(--background-color);
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
}
.noaccount{
    display: flex;
    justify-content: center;
}
.noaccount-href{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 20px;
}
.show-password{
    color: var(--background-color);
    font-size: 15px;
}
/*END OF MOBILE FIRST*/

/*DESKTOP FIRST*/
@media only screen and (min-width: 1200px) {

    .login-title {
        text-align: center;
        background-color: transparent;
        color: var(--primary-color);
        font-size: 40px;
    }

    .form-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: auto;
        width:100%;
    }

    .user {
        text-align: center;
        color: var(--primary-color);
    }

    .password {
        text-align: center;
        color: var(--primary-color);
    }
    
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 11px;
        text-align: center;
    }
    
    input[type=submit] {
        background-color: var(--btn-color);
        color: var(--primary-color);
        font-size: 15px;
        padding: 14px 20px;
        margin: 5vh 0;
        border: none;
        cursor: pointer;
        width: 30vh;
        border-radius: 11px;
    }
    input[type=submit]:hover {
        background-color: white;
        color: var(--btn-color);
        border: 1px solid var(--btn-color);
    }
    .noaccount{
        display: flex;
        justify-content: center;
    }
    .noaccount-href{
        color: var(--primary-color);
        text-decoration: none;
        font-size: 20px;
    }
    .show-password{
        color: var(--background-color);
        font-size: 15px;
        text-shadow: black 2px 2px;
    }

}