.main-background {
    background-image: url("/assets/images/add_list.jpg");
    background-size: cover;
    position: fixed;
}

p,
a {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: var(--primary-color);
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

/*list container*/
.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    height: auto;
    padding-bottom: 3rem;
}

.card {
    border-radius: 10px;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-header {
    height: fit-content;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--card-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--primary-color);
}

.in-card {
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    opacity: 0.9;
}

.in-card .card-body {
    width: 60%;
    padding: 0.5rem;
}

.in-card .card-body p {
    font-size: 1rem;
}

.card-title {
    font-weight: bold;
    text-align: center;
}

.card-date {
    font-style: italic;
    text-align: center;
}

.card-description {
    text-align: justify;
}

.in-card .gift-list {
    width: calc(100% - 60%);
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.in-card .gift-list p {
    font-size: 1rem;
    align-self: center;
    background-color: var(--card-color);
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--primary-color);;
}

/* add new list */
.in-card-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--background-color);
    opacity: 0.9;
    padding: 0.5rem;
}

.in-card-add a img {
    height: 3rem;
    width: 3rem;
}

@media screen and (min-width: 1200px) {
    .main-background {
        background-image: url("/assets/images/add_list.jpg");
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        box-shadow: 5px 5px 8px rgb(0, 0, 0);
        background: var(--background-color);
        width: calc((100% / 3) - 5rem);
    }
}