{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/add_list.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
{% endblock %}

{% block navbar %}

{% include "Components/_navbar.html.twig" %}

{% endblock %}

{% block content %}
    <div class="main-background"></div>
        <div class="add_list-container">
        <h3 class="add_list-title">Création de votre liste</h3>
        <div class="form-container">
            <form class="form" action="/items/add" method="POST">
                <label for="name"><p class="name">Nom de la liste</p></label>
                <input type="text" id="name" placeholder="Entrez le nom de la liste" name="name" required>
                <label for="date"><p class="date">Date de l'évenement</p></label>
                <input type="date" id="date" name="date" required>
                <label for="event"><p class="event">Evenement</p></label>
                <select name="event" id="event" class="choose_event" required >
                    <option value="">-- Merci de choisir un évenement --</option>
                    <option value="mariage">Mariage</option>
                    <option value="naissance">Naissance</option>
                    <option value="frc">Fête Religieuse Commerciale</option>
                    <option value="anniversaire">Anniversaire</option>
                    <option value="autre">Autre</option>
                </select>
                <label for="description"><p class="description">Description</p></label>
                <input type="text" class="description" id="description" placeholder="Indiquez des informations sur votre liste" name="description" required>
                <input type="submit" id='submit' value='Créer la liste' > 
            </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

