<h1>
  Listes
</h1>
<h2>
  Creez, Modifiez, et Partagez vos listes!
</h2>
<button class="sign_up" href="lien">Sign up for free!</button>
<h3>
  Voici quelques exemples de listes.
</h3>

<div class="cards">
  <div class="card">
    <div class="card-header"></div>
    <div class="in_card">
      <div class="card-body">
        <p class="card-title">
          Titre de la liste
        </p>
        <p class="card-event">
          Evenement
        </p>
        <p class="card-price">
          Date
        </p>
        <p class="card-description">
          Description
        </p>
      </div>
      <div class="liste cadeaux">
        <table>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <a href="">voir</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header"></div>
    <div class="in_card">
      <div class="card-body">
        <p class="card-title">
          Titre de la liste
        </p>
        <p class="card-event">
          Evenement
        </p>
        <p class="card-price">
          Date
        </p>
        <p class="card-description">
          Description
        </p>
      </div>
      <div class="liste cadeaux">
        <table>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <a href="">voir</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header"></div>
    <div class="in_card">
      <div class="card-body">
        <p class="card-title">
          Titre de la liste
        </p>
        <p class="card-event">
          Evenement
        </p>
        <p class="card-price">
          Date
        </p>
        <p class="card-description">
          Description
        </p>
      </div>
      <div class="liste cadeaux">
        <table>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
          <tr>
            <td>
              cadeau 1
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <a href="">voir</a>
    </div>
  </div>
</div>


    