<div class="main-background"></div>
<h1>
	Listes
</h1>
<h2>
	Creez, Modifiez, et Partagez vos listes!
</h2>
<div class="noaccount">
	<a class="noaccount-href" href="/signup">Créer un compte</a>
</div>
<h3>
	Voici quelques exemples de listes.
</h3>

<div class="cards">
	<div class="card">
		<div class="card-header"></div>
		<div class="in_card">
			<div class="card-body">
				<p class="card-title">
					Titre de la liste
				</p>
				<p class="card-event">
					Événement
				</p>
				<p class="card-price">
					Date
				</p>
				<p class="card-description">
					Description
				</p>
			</div>
			<div class="liste cadeaux">
				<p>cadeau1</p>
				<p>cadeau2</p>
				<p>cadeau3</p>
				<p>cadeau4</p>
				<p>cadeau5</p>
			</table>
		</div>
	</div>
	<div class="card-footer">
		<a href="">voir</a>
	</div>
</div>
<div class="card">
	<div class="card-header"></div>
	<div class="in_card">
		<div class="card-body">
			<p class="card-title">
				Titre de la liste
			</p>
			<p class="card-event">
				Événement
			</p>
			<p class="card-price">
				Date
			</p>
			<p class="card-description">
				Description
			</p>
		</div>
		<div class="liste cadeaux">
			<p>cadeau1</p>
			<p>cadeau2</p>
			<p>cadeau3</p>
			<p>cadeau4</p>
			<p>cadeau5</p>
		</div>
	</div>
	<div class="card-footer">
		<a href="">voir</a>
	</div>
</div>
<div class="card">
	<div class="card-header"></div>
	<div class="in_card">
		<div class="card-body">
			<p class="card-title">
				Titre de la liste
			</p>
			<p class="card-event">
				Événement
			</p>
			<p class="card-price">
				Date
			</p>
			<p class="card-description">
				Description
			</p>
		</div>
		<div class="liste cadeaux">
			<p>cadeau1</p>
			<p>cadeau2</p>
			<p>cadeau3</p>
			<p>cadeau4</p>
			<p>cadeau5</p>
		</div>
	</div>
	<div class="card-footer">
		<a href="">voir</a>
	</div>
</div></div>
